.BasicLtiLaunchApp__dialog {
  width: 75%;
  max-width: 500px;
}

.BasicLtiLaunchApp__spinner {
  $spinner-size: 50px;

  position: absolute;
  width: $spinner-size;
  height: $spinner-size;
  left: calc(50% - #{$spinner-size / 2});
  top: 100px;
}
