$file-list-item-height: 40px;
$file-list-icon-size: 24px;

.FileList {
  position: relative;
}

.FileList__spinner {
  position: absolute;
  left: calc(50% - #{$file-list-icon-size / 2});
  top: calc(50% - #{$file-list-icon-size / 2});
}

.FileList__name-header {
  text-align: left;
  padding-left: 10px;
}

.FileList__date-header {
  width: 120px;
  text-align: left;
}

.FileList__icon {
  margin-left: 10px;
  margin-right: 10px;
  width: $file-list-icon-size;
  height: $file-list-icon-size;
  vertical-align: middle;

  &.is-selected {
    // nb. Argument must be passed to `invert` even though "1" is the default
    // to work around https://bugs.chromium.org/p/chromium/issues/detail?id=964696.
    filter: #{"invert(1)"}; // Quoted to avoid conflict with SASS mixin.
  }
}

.FileList__name-col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.FileList__name {
  flex-grow: 1;
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
}

.FileList__date-col {
  padding-right: 10px;
}
