$table-item-height: 40px;
$table-icon-size: 24px;

// Wrapper around the table. This is used because table elements do not support
// setting the `height` or `overflow` properties directly.
.Table__wrapper {
  height: 7 * $table-item-height;
  overflow: auto;
  border: 1px solid $grey-6;

  margin-top: 10px;
}

.Table__table {
  @include outline-on-keyboard-focus;

  border-collapse: collapse;
  width: 100%;
  font-size: $normal-font-size;
  table-layout: fixed;
}

.Table__head {
  color: white;

  &-cell {
    border: none;
  }
}

// Sticky header for the table. On browsers that do not support `position: sticky`,
// this falls back to a non-fixed header. Logically `position: sticky` should
// be applied to the `thead` element, but there are bugs in Chrome and Edge.
// See https://caniuse.com/#feat=css-sticky.
.Table__head th {
  background-color: $grey-6;
  position: sticky;
  top: 0;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;

  // Ensure the header is displayed above content in the table when it is
  // scrolled, including any content which establishes a new stacking context.
  z-index: 1;
}

.Table__body {
  text-align: left;
}

.Table__row {
  background-color: white;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;

  height: $table-item-height;

  &.is-selected {
    // Add a border between the top item, when selected, and column headings to
    // avoid them blending together.
    &:first-child {
      border-top: 1px solid white;
    }

    background-color: $grey-6;
    color: white;
  }

  & > td {
    border: none;
    vertical-align: middle;
  }

  // Table rows provide their own selection indicator and rows are focused
  // when selected.
  outline: none;
}
