{% extends "lms:templates/base.html.jinja2" %}

{% block content %}
  <div class="Dialog__background" style="z-index: 1;"></div>
  <div class="Dialog__container" style="z-index: 2;">
    <div class="Dialog__content LMSFilePicker__dialog">
      <h1 class="Dialog__title">Authorization failed</h1>

      <p>Something went wrong when authorizing Hypothesis.</p>

      <p>If the problem persists
      <a href="mailto:support@hypothes.is?subject=Hypothesis%20LMS%20Support" target="_blank" rel="noopener noreferrer">send us an email</a>
      or <a href="https://web.hypothes.is/get-help/" target="_blank" rel="noopener noreferrer">open a support ticket</a>.
      You can also visit our <a href="https://web.hypothes.is/help/" target="_blank" rel="noopener noreferrer"> help documents</a>.</p>

      <div class="u-stretch"></div>
      <div class="Dialog__actions">
        <button class="Button Button--cancel"
                type="button"
                onclick="window.close()">
          Cancel
        </button>
        <button class="Button"
                type="button"
                onclick="window.location.href = '{{ authorize_url }}'">
          Try again
        </button>
      </div>
    </div>
  </div>
{% endblock %}


{% block styles %}
  {% for url in  asset_urls("frontend_apps_css") %}
    <link rel="stylesheet" href="{{ url }}">
  {% endfor %}
{% endblock %}
