@import 'normalize.css/normalize';

@import 'mixins';
@import 'variables';

// Additional mixins.
@import 'mixins/focus';

// Shared classes.
@import 'utils';
@import 'typography';

// HTML components.
@import 'components/heading';
@import 'components/label';

// Generic React components.
// Note: Some of these are also used by server-rendered HTML templates, not
// just by React code.
@import 'components/Button';
@import 'components/Dialog';
@import 'components/Table';

// React components.
@import 'components/BasicLtiLaunchApp';
@import 'components/ErrorDisplay';
@import 'components/FileList';
@import 'components/FilePickerApp';
@import 'components/LMSFilePicker';
@import 'components/URLPicker';

// Element styles.
body {
  font-family: $sans-font-family;
  font-size: $normal-font-size;
  line-height: $normal-line-height;
}

